---
import { getLocale, getLocaleUrl } from "astro-i18n-aut";
import { getUiData } from "../config/getUiData";

const locale = getLocale(Astro.url) as 'lt' | 'pl';

const nameText = getUiData(locale, 'footer', 'name');
const rulesText = getUiData(locale, 'footer', 'rules');
const sloganText = getUiData(locale, 'footer', 'slogan');
const githubText = getUiData(locale, 'footer', 'github');

const today = new Date();
---

<div class="py-4"></div>
<hr />
<div class="py-4 text-center poem-body">
  &copy; {nameText},  2009-{today.getFullYear()} <a
    href={`${getLocaleUrl(import.meta.env.BASE_URL, locale)}taisykles/`}>{rulesText}</a
  >
  <br />
  {sloganText}
  <br />
  <a href="https://github.com/barelief/Pasaulis-Telpa-Akiratin" target="_blank"
    >{githubText} </a
  >
</div>
